<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>انشاء حساب جديد</h1>
    <form action="/auth/sign-up" method="POST">
      <label for="username">الاسم:</label>
      <input type="text" name="username" id="username" />
      <label for="password">الباسورد:</label>
      <input type="password" name="password" id="password" />
      <label for="confirmPassword"> الباسورد:</label>
      <input type="password" name="confirmPassword" id="confirmPassword" />
      <button type="submit">انشاء</button>
    </form>
  </body>
</html>