<h1>ูุฑุญุจุง ุจู <%= user ? user.username : 'ุฒุงุฆุฑ' %>
    <% if (currentPlayer) { %>
      <p>ุฃููุงู <%= currentPlayer.name %> ๐</p>
      <% } %>
</h1>
<nav>
  <% if (user && user.isAdmin) { %>
    <a href="/listings/new" class="btn btn-primary btn-lg">ุฅุถุงูุฉ ูุงุนุจ</a> |
    <a href="/listings" class="btn btn-primary btn-lg">ุนุฑุถ ุงููุงุนุจูู</a> |
    <a href="/auth/sign-out" class="btn btn-primary btn-lg">ุชุณุฌูู ุงูุฎุฑูุฌ</a>

    <% } else { %>
      <a href="/auth/sign-in">ุชุณุฌูู ุงูุฏุฎูู</a> |
      <a href="/auth/sign-up">ุงูุดุงุก ุญุณุงุจ</a> |
      <a href="/listings/view" class="btn btn-primary btn-lg">ุนุฑุถ ุฌููุน ุงููุงุนุจูู</a>
      <% } %>
</nav>