<h1>ูุฑุญุจุง ุจู <%= user ? user.username : 'ุฒุงุฆุฑ' %>
  <% if (currentPlayer) { %>
    <p>ุฃููุงู <%= currentPlayer.name %> ๐</p>
  <% } %>
</h1>
<img src="/assest/al-tadhamun-sports-club-logo-png_seeklogo-346715.png" id="image">
<nav>
        <% if (user && user.isAdmin) { %>
          <a href="/listings/new" class="btn btn-success btn-lg">ุฅุถุงูุฉ ูุงุนุจ ุฌุฏูุฏ</a>
          <a href="/listings/category" class="btn btn-success btn-lg">ุนุฑุถ ุงููุงุนุจูู</a>
          <a href="/admin/create-player-account" class="btn btn-warning btn-lg">ุฅูุดุงุก ุญุณุงุจ ููุงุนุจ</a>
        <% } else if (currentPlayer) { %>
          <a href="/attendance/player/<%= currentPlayer._id %>" class="btn btn-primary">ุณุฌู ุญุถูุฑู</a>
        <% } else { %>
          <a href="/auth/sign-in" class="btn btn-outline-primary btn-lg">ุชุณุฌูู ุงูุฏุฎูู ููุจุฏุก</a>
        <% } %>
</nav>