
<h1>مرحبا بك <%= user ? user.username : 'زائر' %></h1>
<nav>
    <a href="/listings/new">إضافة لاعب</a> |
    <a href="/listings">عرض اللاعبين</a> |
    <a href="/auth/sign-out">تسجيل الخروج</a>
</nav>